
<div class="content">
  <div class="container">
    <div class="media align-items-stretch justify-content-center pos-relative">
          
      <div class="sign-wrapper">
        <div class="login-part mb-20">

          <div class="blue-login-bg">
            <h3 class="tx-white mb-5">Sign Up</h3>
            <p class="tx-white tx-16">It's free to signup and only takes a minute.</p>
          </div>
          <div class="pl-30 pt-20 pr-30 pb-20">
            <form ngForm #f="ngForm" (ngSubmit)=register(f)>
              <div class="form-group">
                <label for="name">Name</label>
                <input ngModel name="name" #name="ngModel" type="text" class="form-control" id="name" placeholder="Enter name"
                  required>
                <div *ngIf="name.touched && name.invalid">
                  <p class="text-danger" *ngIf="name.errors.required">name is required</p>
                </div>
                <div>
                <server-form-error *ngIf="errors.length > 0" [errors]="errors" [fieldName] = "name.name"></server-form-error>
                

                </div>
              </div>
              <!-- <div class="form-group">
              <label for="username">Username</label>
              <input ngModel name="username" #uname="ngModel" type="text" class="form-control" id="username" placeholder="Enter username" required minlength="5" maxlength="20" cannotContainSpace alphaNumeric>
              <div *ngIf="uname.touched && uname.invalid">
                <p class="text-danger" *ngIf="uname.errors.required">username is required</p>
                <p class="text-danger" *ngIf="uname.errors.minlength">{{ uname.errors.minlength.requiredLength -  uname.errors.minlength.actualLength}} charater required</p>
                <p class="text-danger" *ngIf="uname.errors.maxlength">Maximum {{ uname.errors.maxlength.requiredLength }} charater allowed</p>
                <p class="text-danger" *ngIf="uname.errors.cantBeSpace">Space is not allowed</p>
                <p class="text-danger" *ngIf="uname.errors.alphaNumeric">username should be alphanumeric</p>
              </div>
            </div> -->
              <div class="form-group">
                <label for="email">Email address</label>
                <input ngModel name="email" #email="ngModel" type="email" class="form-control" id="email"
                  aria-describedby="emailHelp" placeholder="Enter email" required isEmailExists validEmail>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div *ngIf="email.touched && email.invalid">
                  <p class="text-danger" *ngIf="email.errors.required">email is required</p>
                  <p class="text-danger" *ngIf="email.errors.validEmail">valid email is required</p>
                  <p class="text-danger" *ngIf="email.errors.isEmailExists">email has already taken</p>
                </div>
                <server-form-error *ngIf="errors.length > 0" [errors]="errors" [fieldName] = "email.name"></server-form-error>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input ngModel name="password" #password="ngModel" type="password" class="form-control" id="password"
                  placeholder="Password" required minlength="5" maxlength="18">
                <div *ngIf="password.touched && password.invalid">
                  <p class="text-danger" *ngIf="password.errors.required">password is required</p>
                  <p class="text-danger" *ngIf="password.errors.minlength">
                    {{ password.errors.minlength.requiredLength -  password.errors.minlength.actualLength}} charater required
                  </p>
                  <p class="text-danger" *ngIf="password.errors.maxlength">Maximum
                    {{ password.errors.maxlength.requiredLength }} charater allowed</p>
                </div>
                <server-form-error *ngIf="errors.length > 0" [errors]="errors" [fieldName] = "password.name"></server-form-error>
              </div>
              <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input ngModel name="confirm_password" #confirm_password="ngModel" type="password" class="form-control"
                  id="confirm_password" placeholder="Confirm Password" required isMatched="password">
                <div *ngIf="confirm_password.touched && confirm_password.invalid">
                  <p class="text-danger" *ngIf="confirm_password.errors.required">confirm password is required</p>
                  <p class="text-danger" *ngIf="confirm_password.errors.isMatched">password & confirm password should match</p>
                </div>
                <server-form-error *ngIf="errors.length > 0" [errors]="errors" [fieldName] = "confirm_password.name"></server-form-error>
              </div>
              <button type="submit" class="btn btn-info btn-block" [disabled]="f.invalid">Register</button>
            </form>
          </div>
        </div>
        <p>Already Member?<a routerLink="/login" class="pl-10">Click to Login</a></p>
      </div>
    </div>

  </div>
</div>